.container-fluid
  .row.gray.row-header
    .col-md-10.col-md-offset-1
      %h2
        Products Listing

      Categories (linkable), Filters ($ index & product features (GF, GMO etc)) will go here.

  .row
    .col-md-7.col-md-offset-1.padding-above
      - @products.each do |product|
        .panel.panel-default
          .panel-heading
            .h5
              = link_to "#{product.name}", product
          .panel-body
            .add-margin-below
              - case product.price
                - when "1"
                  = "$"
                - when "2"
                  = "$$"
                - when "3"
                  = "$$$"
                - when "4"
                  = "$$$$"
                - when "5"
                  = "$$$$$"
                - when "6"
                  = "$$$$$$"
                - when "7"
                  = "$$$$$$$"
  

    .col-md-3.padding-above
      .thumbnail.thumbnail-thick-boarder
        .caption
          %h3 Add a Product
          Don't see what you are looking for? Add a new product!
          .padding-below
          = link_to 'Add Product', new_product_path, class: "btn btn-primary"
